html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

main section {
  padding-top: 30px;
  &:first-of-type {
    padding-top: 88px;
  }
}

a {
  color: inherit;
  &:hover {
    color: inherit;
  }
}
